.image-Box{
    width: 200px;
    height: 200px;
    margin: 10%;
    /* background-color: red; */
}

img{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px black solid;
}

.descriptor{
    position: relative;
    width: 100%;
    bottom: 20%;
    color: #ffffff;
    background-color: #4aaaa5;
    opacity: .8;
    text-align: center;
    vertical-align: middle;

}

.left{
    float: left;
}

.right{
    float: right;
}